__pycache__/
.pyenv

/data/temp/*
!/data/temp/.gitkeep

/build/windows/tmp/*
!/build/windows/tmp/.gitkeep
/build/windows/dist/*
!/build/windows/dist/.gitkeep

/build/gnu_linux/tmp/av-syncinator.AppDir/app/*
!/build/gnu_linux/tmp/av-syncinator.AppDir/app/.gitkeep
/build/gnu_linux/tmp/av-syncinator-cli.AppDir/app/*
!/build/gnu_linux/tmp/av-syncinator-cli.AppDir/app/.gitkeep
/build/gnu_linux/tmp/av-syncinator-cli/
/build/gnu_linux/tmp/av-syncinator/
/build/gnu_linux/dist/*
!/build/gnu_linux/dist/.gitkeep